


* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  background: hsl(217, 54%, 11%);
}

p {
  font-size: 18px;
}

.nft-wrapper {
  max-width: 330px;
  background-color: hsl(216, 50%, 16%);
  padding: 24px;
}

.description h4 {
  color: hsl(0, 0%, 100%);
}

.description p {
  color: hsl(215, 51%, 70%);
}

.eq-value__pt {
  color: hsl(178, 100%, 50%);
}

.eq-value__time {
  color: hsl(215, 51%, 70%);
}


.creator {
  border-top: 1px solid hsl(215, 32%, 27%);
}
.creator p {
  color: hsl(215, 51%, 70%);
}
span {
  color: hsl(0, 0%, 100%);
}


/* img dimensions */
#eq-image {
  max-width: 275px;
}

#avatar {
  max-width: 33px;
  border: 1px solid #fff;
}

/* 
## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */





.attribution { 
  font-size: 11px; 
  text-align: center; 
  display: none;
}

.attribution a { 
  color: #3e52a3; 
}